@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");

.calculator {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  width: 400px;

}

#header {
  position: relative;
  		background-image: url("heading.jpg");
  		background-size: cover;
  		background-position: center center;
  		background-attachment: fixed;
  		color: #fff;
  		text-align: center;
  		padding: 7.5em 0 2em 0;
  		cursor: default;
}



		}

			}

		#footer header {
			text-align: center;
			cursor: default;
		}

		#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #fff;
}
.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #252525;
  color: #fff;
  text-align: right;
  font-size: 36px;
  border: none;
  padding: 0 20px;
  box-sizing: border-box;
  opacity: 75%;
  border-radius: 5px;
}

.calculator-keys {
  width: 100%;
}


button {
  height: 80px;
  background-color: #364958;
  border: 1px solid black;
  font-size: 32px;
  color: #fff;
  width:25%;
  outline-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 88%;
  border-radius: 5px;
}
.all-clear, .zero-btn{
  width: 50%;

}
.zero-btn{
  background-color: #393e46;
}
.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}
.operator, .equal-sign {
  background-color: orange;
}
button:hover {
  background-color: #708d81;
}

.operator:hover, equal-sign:hover {
  background-color: darkorange;
}
.contact {
			text-align: center;
      font-family: 'Source Sans Pro', sans-serif;

		}

			.contact p {
				text-align: center;
				margin: 0 0 3em 0;


			}


      ul.icons {
      		position: relative;
      		background: rgba(128, 128, 128, 0.05);
      		border-radius: 4em;
      		display: inline-block;
      		padding: 0.35em 0.75em 0.35em 0.75em;
      		font-size: 1.25em;
      		cursor: default;
      		list-style: none;
      	}

      		ul.icons li {
      			display: inline-block;
      			padding-left: 0;
      		}

      			ul.icons li a {
      				display: inline-block;
      				background: none;
      				width: 2.5em;
      				height: 2.5em;
      				line-height: 2.5em;
      				text-align: center;
      				border-radius: 100%;
      				border: 0;
      				color: inherit;
      			}

      				ul.icons li a:hover {
      					color: #ef8376;
      				}

			}
      .copyright {
      			text-align: center;
      			color: rgba(128, 128, 128, 0.75);
      			font-size: 0.8em;
      			cursor: default;
      		}

      			footer .copyright a {
      				color: rgba(128, 128, 128, 0.75);
      			}
